body{
    background-color: black;
}

.centerd {
    text-align: center;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: darkgreen;
    text-align: center;
    font-size: 130px;
    flex-wrap: wrap;
}

h2{
  color: darkgreen;
  text-align: center;
  font-size: 85px;
  flex-wrap: wrap;
}

.emoji{
  font-family: "Noto Color Emoji", sans-serif;
}

.g{
  font-family: 'IM Fell Great Primer', serif;
  font-style: italic;
  font-size: 85px;
  border-radius: 12px;
  border-color: darkgreen;
  background-color: saddlebrown;
  color: pink;
}

.g1{
  font-family: 'IM Fell Great Primer', serif;
  font-style: italic;
  color: pink;
}

.f1{
    animation: fadeInOut ease-in-out 13500ms;
}

.f2 {
    animation: fadeIn ease 3s;
}

.breathing {
    -webkit-animation: breathing 7s ease-in-out infinite normal;
    animation: breathing 7s ease-in-out infinite normal;
}

.grow {
  -webkit-animation: grow 3500ms ease-in-out normal;
  animation: grow 3500ms ease-in-out normal;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  /*25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }*/

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  /*25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }*/

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fadeIn {
0% {opacity:0}
100% {opacity:1}
}

@keyframes fadeInOut{
    0% {opacity:0;}
    45% {opacity:1;}
    55% {opacity:1;}
    100% {opacity:0;}
}

@keyframes breath{
    0% {width: 100%; height: 100%;}
    100% {width: 50%; height: 50%;}
}
